
body {
    background-image: linear-gradient(to bottom right, #D8BFD8, skyblue );
}

.container {
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.floatleft {
    float: left;
    margin-right: 20px;
}

p {
    display: center;
}