
body {
    background-color: lightskyblue;
}

.container {
    background-color: lightskyblue;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.floatleft {
    float: left;
    margin-right: 20px;
}

p {
    display: center;
}