
body {
    background-image: linear-gradient(to bottom right, #D8BFD8, skyblue );
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.floatleft {
    float: left;
    margin-right: 30px;
}

p {
    display: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

div {
    margin-bottom: 100px;
}